<!DOCTYPE html>
<html>

<head>
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
</head>

<body>

  <div>
    <div class="container">
      <span class="error animated tada" id="msg"></span>
      <form name="form1" class="box" action="validate" method="post">
        {% csrf_token %}
        <h4>Login<span>Dashboard</span></h4>
        <h5>Sign in to your account.</h5>
        <input type="text" name="email" placeholder="Email" autocomplete="off">
        <!-- {% if invalid_details != "" %}
        <h1>Hello!</h1>
        {% endif %} -->
        <span style="color:red">
          {{invalid_details}}
        </span>
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
        <label>
          <input type="checkbox">
          <span></span>
          <small class="rmb">Remember me</small>
        </label>
        <a href="#" class="forgetpass">Forget Password?</a>
        <input type="submit" value="Sign in" class="btn1">
      </form>
      <a href="#" class="dnthave">Don’t have an account? Sign up</a>
    </div>
  </div>

</body>

</html>